* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #473bf0;
  color: whitesmoke;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  

}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap : wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem black;
  font-size: 8vmin;
  color:whitesmoke;;
  background-color:#6665dd;
}
#resetbtn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #000500;
  color: whitesmoke;
  border: none;
  border-radius: 1rem;
}
#newbtn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #000500;
  color: whitesmoke;
  border: none;
  border-radius: 1rem;
}
#msg {
  color: whitesmoke;
  font-size: 8vmin;

}
.msg-container{
  height: 100vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;

}
.hide {
  display: none;
}